<div class="container">
<div class="jumbotron">
	<h2>Hello Everyone</h2>
	<p>In accordance with major changes in our strategy, business model and name, we at Aquamyst have rebranded ourselves as 'Where's My Tee ?' and we've moved our site to <%= link_to 'www.wheresmytee.com', 'http://www.wheresmytee.com/' %>. Please refer to the new domain to view our products and connect with online stores.</p>
</div>
</div>